<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <!-- Title of the web page -->
        <title>Business Finder</title>

        <!-- Let's add a bit of styling to make it look pretty -->
        <link rel="stylesheet" href="/static/style.css">

    </head>

    {# This is what a jinja template comment looks like #}
    <!-- This is what an HTML comment looks like -->

    <body>
        <div class="content">
            <!-- TODO A form for asking the question -->
            <form class="" action="/" method="get">
                <label> 
                    <b>Business Finder</b>  
                    <input type="text" name="q"><br>
                </label>
                <button type="submit" name="button">Send</button>
            </form>
            <!-- display the answers from instant answers api -->
            <p class="response">
                {% if (question and answer) %}
                    <b>{{ question }}</b>
                    <br> <!-- <br> creates a line break -->
                    {{ answer }}

                    <!-- TODO optional: also display RelatedTopics  -->

                {% elif (question) %}
                    <b>{{ question }}</b><br>
                    I don't know :(
                {% endif %}
            </p>
        </div>
    </body>
</html>
